<app-modal-content [visible]="visible" [size]="'lg'" [title]="'ROLE.CREATE_ROLE' | translate"
  [saveButtonText]="'ROLE.SAVE_ROLE' | translate" [closeButtonText]="'COMMON.CLOSE' | translate"
  [disableSave]="!role?.name?.trim() || !role?.description?.trim()" [loading]="creating" (onSave)="onSave()"
  (onClose)="onClose()">

  <!-- Body -->
  <div class="modal-body">
    <div>
      <div class="mb-2">
        <app-form-input [label]="'ROLE.ROLE_NAME' | translate" type="text" [max]="250" [(model)]="role.name"
          labelType="required">
        </app-form-input>
      </div>

      <div class="mb-2">
        <app-form-input [label]="'ROLE.ROLE_DESCRIPTION' | translate" type="textarea" [(model)]="role.description"
          [rows]="5" labelType="required" [max]="250">
        </app-form-input>
      </div>

      <div class="mb-2">
        <app-form-input [label]="'ROLE.ROLE_POSITION' | translate" type="number" [(model)]="role.position">
        </app-form-input>
      </div>

      <div class="mb-2">
        <label class="form-label fw-semibold">
          Icon
        </label>
        <ng-select [items]="iconOptions" [(ngModel)]="role.icon" (open)="selectOpen()" (close)="selectClose()"  [placeholder]="'Icon'">

          <!-- Template hiển thị mỗi option trong dropdown -->
          <ng-template ng-option-tmp let-item="item">
            <i [data-feather]="item.label" class="mr-1"></i> {{ item.value }}
          </ng-template>

          <!-- Template hiển thị khi option được chọn -->
          <ng-template ng-label-tmp let-item="item" let-clear="clear">
            <i [data-feather]="item.label" class="mr-1"></i> {{ item.value }}
            <span class="ng-value-icon right" (click)="clear(item)">×</span>
          </ng-template>
        </ng-select>

      </div>

      <div class="mb-2 d-flex align-items-center">
        <!-- <label class="fw-semibold me-2 mr-1" style="margin-top: 3px;">
          {{ 'ROLE.STATUS' | translate }}
        </label>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="statusSwitch" [checked]="role.active">
          <label class="form-check-label" for="statusSwitch">
            {{ role.active ? ('COMMON.ACTIVE' | translate) : ('COMMON.INACTIVE' | translate) }}
          </label>
        </div> -->
        <app-form-input type="checkbox" [for]="'active'" [(model)]="role.active"
          [label]="role.active === 1 || role.active  ? ('COMMON.ACTIVE' | translate) : ('COMMON.INACTIVE' | translate) "
          (modelChange)="changeStatus($event)" labelType="required">
        </app-form-input>
      </div>

      <ng-template #loading>
        <div class="text-center p-3">
          <div class="spinner-border text-primary" role="status"></div>
        </div>
      </ng-template>
    </div>
  </div>
</app-modal-content>
